<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  	<!-- To enable all the annotation tag to get have to use this tag the(This is used for enabling any kind of annotation)  -->
  	<!-- <context:annotation-config></context:annotation-config> -->
  	
  	<!-- If we don't want to use context:annotation-config then we have to do following(This is only for enabling @PostConstruct and @PreDestroy) -->
  	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
  	
	<!-- If we  want to create initialize and destroy function we have to declare it explecitely -->
	<bean id="pizza" class="com.springcore.lifecycle.annotation.Pizza">  
		<property name="price" value="69"></property>
	</bean>
	
	
</beans>  